.page {
  display: block;
  height: 800px;
  width: 100%;
  /*Give margin as per your requirement.*/
}

.header {
  display: block;
  height: 50px;
}

.content {
  display: block;
  height: 700px;
}

.footer {
  display: block;
  height: 50px;
}
